/*Dragon List*/
.list-dragon {
  margin-bottom: 50px;
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  }
  td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  &.btn-add-dragon {
    margin-right: 10px;
  }
  .btn-default-list{
    width:60px !important;
    height: 30px !important;
    padding: 6px !important;
  }
}
