#dragoes-lista .item-close {
  display: none;
}
#dragoes-lista .table-wrapper {
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}
#dragoes-lista .table-wrapper .fl-table {
  margin: auto;
  margin-top: 70px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 90%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}
#dragoes-lista .table-wrapper .fl-table td, #dragoes-lista .table-wrapper .fl-table th {
  text-align: center;
  padding: 8px;
}
#dragoes-lista .table-wrapper .fl-table th:last-child {
  border-top-right-radius: 14px;
}
#dragoes-lista .table-wrapper .fl-table th:first-child {
  border-top-left-radius: 14px;
}
#dragoes-lista .table-wrapper .fl-table td {
  font-size: 12px;
}
#dragoes-lista .table-wrapper .fl-table td:last-child {
  border-bottom-right-radius: 14px;
}
#dragoes-lista .table-wrapper .fl-table thead th {
  color: #ffffff;
  background: #79a6fe;
}
#dragoes-lista .table-wrapper .fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}
#dragoes-lista .table-wrapper .fl-table tr:nth-child(even) {
  background: #F8F8F8;
}
@media (max-width: 767px) {
  #dragoes-lista .table-wrapper .fl-table {
    display: block;
    width: 100%;
    border-radius: unset;
  }
  #dragoes-lista .table-wrapper .fl-table .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  #dragoes-lista .table-wrapper .fl-table .h-auto {
    border-radius: unset !important;
  }
  #dragoes-lista .table-wrapper .fl-table thead, #dragoes-lista .table-wrapper .fl-table tbody, #dragoes-lista .table-wrapper .fl-table thead th {
    display: block;
    border-radius: unset;
    width: auto;
  }
  #dragoes-lista .table-wrapper .fl-table thead th:last-child {
    border-bottom: none;
    border-radius: unset;
  }
  #dragoes-lista .table-wrapper .fl-table thead {
    float: left;
  }
  #dragoes-lista .table-wrapper .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  #dragoes-lista .table-wrapper .fl-table td, #dragoes-lista .table-wrapper .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  #dragoes-lista .table-wrapper .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  #dragoes-lista .table-wrapper .fl-table tbody tr {
    display: table-cell;
  }
  #dragoes-lista .table-wrapper .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  #dragoes-lista .table-wrapper .fl-table tr:nth-child(even) {
    background: transparent;
  }
  #dragoes-lista .table-wrapper .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }
  #dragoes-lista .table-wrapper .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }
  #dragoes-lista .table-wrapper .fl-table tbody td {
    min-width: 235px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  #dragoes-lista .item-close {
    padding: 15px;
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  #dragoes-lista .btn-default-list {
    max-width: 50px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=dragoes-detalhe.component.css.map */
