#dragoes-lista {
  .item-close {
    display: none;
  }
  .table-wrapper {
    margin: auto;

    .title {
      margin: auto;
      text-align: center;
      padding-top: 15px;
      color:#4e7b96;
    }

    .fl-table {
      margin: auto;
      margin-top: 100px;
      border-radius: 14px;
      font-size: 12px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 90%;
      white-space: nowrap;
      background-color: white;

      td, th {
        text-align: center;
        padding: 8px;
        cursor: pointer;
      }

      th:last-child {
        border-top-right-radius: 3px;
      }

      th:first-child {
        border-top-left-radius: 3px;
      }

      td {
        font-size: 12px;
      }

      td:last-child {
        border-bottom-right-radius: 3px;
      }

      thead th {
        color: #4e7b96;
        background: #c8d3dd;
      }


      tr:active {
        animation: animatezoom2 0.6s;
      }

      tr:hover {
        background-color: #ecf0f5;
      }

      @media (max-width: 800px) {
        display: block;
        width: 100%;
        border-radius: unset;
        .table-wrapper:before {
          content: "Scroll horizontally >";
          display: block;
          text-align: right;
          font-size: 11px;
          color: white;
          padding: 0 0 10px;
        }
        .h-auto {
          border-radius: unset !important;
        }
        thead, tbody, thead th {
          display: block;
          border-radius: unset;
          width: auto;
        }
        thead th:last-child {
          border-bottom: none;
          border-radius: unset;
        }
        thead {
          float: left;
        }
        tbody {
          width: auto;
          position: relative;
          overflow-x: auto;
        }
        td, th {
          padding: 20px .625em .625em .625em;
          height: 60px;
          vertical-align: middle;
          box-sizing: border-box;
          overflow-x: hidden;
          overflow-y: auto;
          width: 120px;
          font-size: 13px;
          text-overflow: ellipsis;
        }
        thead th {
          text-align: left;
          border-bottom: 1px solid #f7f7f9;
        }
        tbody tr {
          display: table-cell;
        }

        tbody tr:nth-child(odd) {
          background: none;
        }
        tr:nth-child(even) {
          background: transparent;
        }
        tr td:nth-child(odd) {
          background: #F8F8F8;
          border-right: 1px solid #E6E4E4;
        }
        tr td:nth-child(even) {
          border-right: 1px solid #E6E4E4;
        }
        tbody td {
          min-width: 235px;
          display: block;
          text-align: center;
        }
      }
    }

  }

  @media screen and (min-width: 800px) {
    .item-close {
      padding: 15px;
      display: block;
      cursor: pointer;
    }
  }
}
