<div id="login">
  <div class="container">
    <form [formGroup]="loginForm" (submit)="login()">
      <h4>
        <span class="text-muted">Admin</span>
        <span class="text-blue text-bold">Dragões</span>
      </h4>
      <h5>Para interagir faça login</h5>
      <input type="text" placeholder="Usuário (admin)" autocomplete="off"  formControlName="user">
      <input type="password" placeholder="Senha (admin)" autocomplete="off"  formControlName="password">
      <app-submit-login [data]="'Login'" [dis]="loginForm.invalid"></app-submit-login>
      <span class="text-danger invalid-feedback">{{messageValid}}</span>
    </form>
  </div>
</div>
