#menu-mobile{
  @mixin span-menu() {
    span {
      cursor: pointer;
      color: #308ae7;
      float: right;
      font-size: 40px;
      margin-right: 10px;
    }
  }
  .menu-mobile {
    margin: 0;
    padding: 0;
    color: #308ae7;
    display: none;
    @include span-menu();
  }
  .items-mobile {
    div{
      background-color: #fafcfe;
      padding: 10px;
      cursor: pointer;
      &:hover{
        background-color: #f7f9fb;
      }
    }
    a{
      color:#308ae7;
    }
    padding: 0;
    margin: 0;
    @include span-menu();
    animation: fading 1s;

    .icon-menu {
      cursor: pointer;
      color: #308ae7;
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 800px) {
    .items-mobile {
      font-size: 24px;
      z-index: 1000;
      position: fixed;
      background-color: #fefefe;
      width: 100vw;
      height: 100vh;
      .menu-mobile-header {
        margin-bottom: 100px;
      }
    }
    .menu-mobile {
      display: block;
    }
  }
}

