#form-login {
  .container{
    .invalid-feedback{
      float: unset !important;
    }
    margin: 0;
    top: 70px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb( 33, 41, 66 );
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #79a6fe;
    max-width: 400px;
    width: 100%;
    height: 400px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
    .box h4 span {
      color: #dfdeee;
      font-weight: lighter;
    }
    .box h5 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 13px;
      color: #a1a4ad;
      letter-spacing: 1.5px;
      margin-top: -15px;
      margin-bottom: 70px;
    }

    .box input[type = "text"],.box input[type = "password"] {
      display: block;
      margin: 20px auto;
      background: #262e49;
      border: 0;
      border-radius: 5px;
      padding: 14px 10px;
      max-width: 320px;
      width: 80%;
      outline: none;
      color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;

    }
    ::-webkit-input-placeholder {
      color: #565f79;
    }

    .box input[type = "text"]:focus,.box input[type = "password"]:focus {
      border: 1px solid #79A6FE;

    }

    a{
      color: #5c7fda;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    label input[type = "checkbox"] {
      display: none; /* hide the default checkbox */
    }
    label span {
      height: 13px;
      width: 13px;
      border: 2px solid #464d64;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      float: left;
      left: 7.5%;
    }

    .btn1 {
      border:0;
      background: #7f5feb;
      color: #dfdeee;
      border-radius: 100px;
      max-width: 340px;
      width: 80%;
      height: 49px;
      font-size: 16px;
      position: absolute;
      top: 79%;
      left: 8%;
      transition: 0.3s;
      cursor: pointer;
    }

    .btn1:hover {
      background: #5d33e6;
    }
    .btn1:disabled{
      background: #565f79;
      color:#7a7a7a;
    }

    .rmb {
      position: absolute;
      margin-left: -24%;
      margin-top: 0px;
      color: #dfdeee;
      font-size: 13px;
    }
  }
}

