#container-general-home {
  @mixin span-menu() {
    span {
      cursor: pointer;
      color: #bbbbc4;
      float: right;
      font-size: 40px;
      margin-right: 10px;
    }
  }

  .icon-menu {
    cursor: pointer;
    color: #bbbbc4;
    margin-right: 10px;
  }

  .footer {
    padding: 10px;
    position: fixed;
    bottom: 0;

    a {
      padding: 10px;
    }
  }

  .items-mobile {
    padding: 0;
    margin: 0;
    @include span-menu();
    animation: fading 1s
  }

  .menu-mobile {
    margin: 0;
    padding: 0;
    color: #bbbbc4;
    display: none;
    @include span-menu();
  }

  @media screen and (max-width: 800px) {
    .menu-mobile-header{
      margin-bottom: 100px;
    }
    .items-mobile {
      font-size: 24px;
      z-index: 1000;
      position: fixed;
      background-color: black;
      opacity: .6;
      width: 100vw;
      height: 100vh;
    }
    .menu-mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
}
