<div *ngIf="hasRoute()" id="container-general-home">
  <app-menu-mobile></app-menu-mobile>
  <div class="container">
    <div class="footer desktop">
      <span class="text-white">Redes sociais/Projetos:</span>
      <a target="_blank" href="https://www.linkedin.com/in/luan-mattos/">Linkedin</a>
      <a target="_blank" href="https://github.com/LuanMattos">GitHub</a>
      <a target="_blank" href="https://github.com/LuanMattos/CrudAngular">Repositório do projeto</a>
      <a target="_blank" href="https://www.mycircle.click">MyCircle</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>











