body {
  background: #282931 ;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}
h1 {
  color: #fc3565;
  padding-bottom: 0px;
  margin-bottom: 1%;
}

h2 {
  color: #555560;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}
/* You can add global styles to this file, and also import other style files */
