#edit-form{
  padding-top: 100px;
  span{
    font-size: 12px;
  }

  .general-form{
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #fefefe;
    border: 1px solid #d5dde3;
    width: 80%;
  }
  .btn{
    margin-right:20px;
    &:disabled{
      background: #565f79;
      color:#b7b7b7;
    }
  }
  input[type = "text"]{
    background: #ebeeff;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: #212121;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}


